.infoText > p {
  font-weight: bold;
}

.infoText > div {
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  background-color: #333333;
  border-radius: 10px;
  text-align: center;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

.infoText {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 64px;
}

.outer {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.taskListContainer {
  height: 38vh;
  overflow: auto;
  padding-right: 5px;
}

.taskListEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 64px 0px;
  border-top: 1px #333333 solid;
}

@media screen and (min-width: 1400px) {
  .taskListContainer {
    height: 55vh;
  }
}

.taskListEmpty > div > p {
  color: #808080;
  font-size: 16px;
}

.taskListSeparator {
  margin-top: 24px;
}
